*
{
    padding:10px;
    margin:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}
body
{
    background:url('bg-body.jpg') center no-repeat;
    background-size: 100% 100%;
}
.main-heading
{
    text-align: center;
    font-size: 5rem;
    width:100%;
    font-weight:lighter;
    color:#00bf8f;
}
#mainList
{
    min-height:500px;
    width:500px;
    background-color: #0009;
    margin:3rem auto;
    padding:30px;
    box-shadow:0px 0px 8px 0px #000;
}
.inputListName
{
    margin:0.5rem auto;
    min-width:100%;
    height:auto;
}
.inputListName > .addItemHeading
{
    text-align:center;
    font-size:2rem;
    font-weight: lighter;
    color:#00bf8f;
}
.inputListName > hr
{
    border:1px solid #00bf8f;
    width:100px;
    padding:0px !important;
    margin:1rem auto;
}

.inputListName > .inputName
{
    height:70px;
    overflow-y:auto;
    resize: none;
    width:65%;
    font-size: 1rem;
    float:left;
    text-align:left; 
    color:#00bf8f;
    font-weight: bolder;
    border:1px solid #0b8793;
    border-radius:10px; 
}
.inputListName > input[type="text"]:focus
{
    box-shadow:0px 0px 8px 0px #0009;
}
.inputListName > input[type="submit"]
{
    height:50px;
    width:30%;
    margin-left:10px;
    margin-top:10px;
    float:left;
    border:none;
    background:linear-gradient(to right,#2c3e50,#3498db);
    filter: drop-shadow(0px 1px 5px #00f260 );
    color:#fff;
    font-weight:bold;
    border-radius:10px;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}
.inputListName > .inputName::placeholder
{
   font-weight:lighter;
}
.inputListName > input[type="submit"]:hover
{
    color:white;
    background:linear-gradient(to right,#00bf8f,#00f260);
    filter: drop-shadow(0px 1px 5px #3498db);
}
#errorMessage
{
    color:#c31432;
    font-weight: bold;
    display:block;
    margin-top:1rem;
}

#listContainer
{
    counter-reset: section;
    margin-top: 5rem;
}
 #listContainer > li
{
    list-style-type: none;
    width:100%;
    padding-top:15px;
    padding-right:45px;
    padding-bottom:15px;
    padding-left:5px;
    position: relative;
    min-height:52px;
    margin-top:10px;
    text-align:left;
    word-break:break-all;
    border:1px solid #00bf8f;
    color:#00bf8f;
    font-weight: bolder;
}
#listContainer > li::before {
    counter-increment: section;
    content: counter(section) ": ";
    color:#00f260;
    width: 0px;
  }
#listContainer > li >.closeBtn
{
    position: absolute;
    color:red;
    right:0;
    top:0;
    border:none;
    height:100%;
    width:40px;
    font-weight: bolder;
    text-align: center;
    background:#00f260;
}
#listContainer > li:hover
{
    background:#00bf8f;
    color:#fff;
}
footer >h4
{
    text-align: center;
    background-color: #00bf8f;
    color:#fff;
    min-height:40px;
}

@media only screen and (max-width:500px)
{
    body
    {
        background:url('bg-body.jpg') center no-repeat;
        background-size: cover;
    }
    #mainList
    {
        width:100%;
    }
}